In [3]:
import numpy as np

In [5]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
! pip install pandas

Collecting pandas
  Downloading https://files.pythonhosted.org/packages/61/ed/10112535645ad7afd26c3b9defd20a32d9e42340b19c4f73ff26ccad06ee/pandas-1.1.1-cp37-cp37m-manylinux1_x86_64.whl (10.5MB)
     |████████████████████████████████| 10.5MB 1.5MB/s eta 0:00:01
Collecting pytz>=2017.2 (from pandas)
  Downloading https://files.pythonhosted.org/packages/4f/a4/879454d49688e2fad93e59d7d4efda580b783c745fd2ec2a3adf87b0808d/pytz-2020.1-py2.py3-none-any.whl (510kB)
     |████████████████████████████████| 512kB 9.7MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.7.3 in /snap/jupyter/6/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied: numpy>=1.15.4 in /home/xpto/snap/jupyter/common/lib/python3.7/site-packages (from pandas) (1.17.4)
Requirement already satisfied: six>=1.5 in /snap/jupyter/6/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.12.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.1.1 pytz-2020.1

In [6]:
! conda env list

/bin/sh: 1: conda: not found

In [8]:
df = pd.read_csv("ComaSessions.csv")

In [10]:
df.head()

,ID,"""Sex""","""Age""","""Etiology""","""Diagnostic""","""Visual1""","""Visual2""","""Visual3""","""Visual4""","""Visual5""",...,"""BothRatersSession6""","""BothRatersCertainty6""","""BothRatersSession7""","""BothRatersCertainty7""","""BothRatersSession8""","""BothRatersCertainty8""","""BothRatersSession9""","""BothRatersCertainty9""","""BothRatersSession10""","""BothRatersCertainty10"""
1,1,1,41,2,3,4,4,3,2,5,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
2,2,2,43,1,3,5,5,5,5,5,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
3,3,2,67,1,3,3,1,4,2,2,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
4,4,2,65,2,2,2,4,2,2,2,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
5,5,2,63,2,2,4,4,4,4,4,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA